.WebContainer{
    width:100%;
    min-width:100rem;
    height:auto;
}
html{
  font-size: 70%;
}

body {
  margin: 0;
  text-align:center;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 5rem auto 0 auto;
  color: #66BFBF;
  font-size: 8rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.59rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem
}

hr {
  border: dotted 0.6rem;
  color: #11999E;
  width: 6%;
  border-bottom: none;
  margin: 5rem auto;
}

p {
  line-height: 2;
  font-size: 1.42rem
}

a {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover{
  color: #337FED;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 8.5rem;
}

.skill-row {
  margin: 5rem auto 5rem auto;
  width: 50%;
  text-align: left;
}

.mountain{
  width: 52.6%;
}

.python_img {
  width: 25%;
  float: left;
  margin-right: 3rem;
}

.profile_img{
  width: 25%
}

.webdevelopment_img {
  width: 25%;
  float: right;
  margin-left: 3rem;
}
.mysql_img{
  width: 25%;
  float: right;
  margin-left: 3rem;
}
.App_img{
  width: 25%;
  float: left;
  margin-right: 3rem;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 4rem auto 6rem;
}

.copy-right{
  color: #EAF6F6;
  font-size: 1.15rem;
  padding: 2rem 0;
}
.top-cloud {
  position: absolute;
  right: 25rem;
  top: 3rem;
  width: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 20rem;
  bottom: 25rem;
  width: 10%;
}

.middle-container {
  margin: 2.5rem;
}

.mid-middle-container{
  margin: 2.5rem;
}

.bottom-container{
  background-color: #2b8187;
  padding: 4.5rem 0 1rem;
}

@media(max-width:998px){
  html{
    font-size: 55%
  }
}

@media(max-width:768px){
  html{
    font-size: 45%
  }
  .bottom-cloud{
    visibility: hidden;
  }
  .top-cloud{
    visibility: hidden;
  }
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 0.8rem;
   -moz-border-radius: 0.8rem;
   border-radius: 0.8rem;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.74rem;
   font-weight: 100;
   padding: 1.35rem;
   -webkit-box-shadow: 0.1rem 0.1rem 2rem 0 #000000;
   -moz-box-shadow: 0.1rem 0.1rem 2rem 0 #000000;
   box-shadow: 0.1rem 0.1rem 2rem 0 #000000;
   text-shadow: 0.1rem 0.1rem 2rem #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0.1rem;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 0.8rem;
   -moz-border-radius: 0.8rem;
   border-radius: 0.8rem;
   text-decoration: none;
}
